.footer {
    background-color: var(--black-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: flex;
}

.footer-logo {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.78px;
    color: var(--white-color-text);
}

.footer-logo-span {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.78px;
    color: var(--logo-hover-btn);
}

.footer-address {
    margin-top: 20px;
}

.footer-items {
    margin-bottom: 9px;
}

.footer-city {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    color: var(--white-color-text);
}

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
    color: var(--address-color-text);
}

.footer-column {
    display: flex;
}

.footer-join {
    margin-left: 70px;
    padding-top: 15px;
}

.column-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 20px;
}

.column-list {
    display: flex;
    justify-content: center;
}

.column-item+.column-item {
    margin-left: 10px;
}

.column-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--white-color-text);
    transition: background-color 250ms;

    &:hover,
    &:focus{
        background-color: var(--logo-hover-btn);
    }
}


.subscription {
    margin-left: 93px;
    padding-top: 15px;
}

.subscription-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 20px;
}

.subscription-form {
    display: flex;
    align-items: center;
}

.subscription-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.48px;
    margin-right: 12px;
}

.subscription-btn {
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--logo-hover-btn);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    color: var(--white-color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.subscription-icon {
    margin-left: 10px;
}