.work {
    padding-bottom: 94px;
}

.work-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 0.83;
    letter-spacing: 1.08px;
    color: var(--black-color-text);
    margin-bottom: 50px;
    text-align: center;
}

.work-list {
    display: flex;
    margin-left: -30px;
}

.work-item {
    flex-basis: calc(100% / 3 -30px);
    margin-left: 30px;
    position: relative;
}

.work-image-description {
    position: absolute;
    top: 224px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 0.83;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--white-color-text);
    background: rgba(47, 48, 58, 0.80);
    width: 370px;
    height: 70px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}