:root {
    --white-color-text: #ffffff;
    --black-color-text: #212121;
    --dark-color-text: #757575;
    --logo-hover-btn: #2196F3;
    --address-color-text: rgba(255, 255, 255, 0.60);
    --logo-text: #000000;

    --white-background: #ffffff;
    --black-background: #2F303A;
    --dark-background-btn: #F5F4FA;

    --border-header: #ECECEC;
}